<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
    </head>
    <body bgcolor="orange">
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/signup}" method="post">
              
                <h1>Signup Here</h1>
                <div th:if="${param.error}">
                    Invalid email and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
               <label for="inputEmail" class="sr-only">Email</label>
<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
                <label for="inputUsername" class="sr-only">User Name</label>
                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required="" />
               <button type="submit" class="btn btn-primary" id="submit"
name="submit">Sign up</button>
            </form>
            <form class="form-signin" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-primary" id="sub_mit"
name="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>